@use './variables' as *;

.side-bar{
    width: 25%;
    min-width: 250px;
    min-height: 100vh;
    background-color: $dark-blue;
    padding: 1rem;
    ul{
        .title{
            color: $white;
            text-transform: uppercase;
            font-size: 1.5rem;
            font-weight: bold;
            padding: 0.8rem;
        }
        li{
            font-size: 1.1rem;
            padding: 0.8rem;
            i{
                margin-right: 10px;
            }
        }
    }
    a{
        color: $white;
    }
}